<div data-role="header">
  <h1><%= @post.title %></h1>
  <%= link_to 'Home', posts_url, "data-icon" => "back", "class" => "ui-btn-left" %>
</div>


<div data-role="content">
  <h1><%= @post.title %></h1>
  <p><%= @post.body %></p>
</div>



